<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>{{project.createdAt | date :'EEEE'}}</td>
                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2"
                        (click)="editProject(project.id, project.name)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="deleteProject(project.id)">Delete</button></td>
            </tr>
        </tbody>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" style="margin-top: 70px;">Add</button>
    </table>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add project</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form" (ngSubmit)="submitForm()">
                        <div class="form-group input-group-lg">
                            <input class="form-control" placeholder="Name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                                <button class="btn btn-danger btn-block btn-lg" data-bs-dismiss="modal">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit project</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form">
                        <div class="form-group input-group-lg">
                            <input class="form-control" placeholder="Name" formControlName="name" [(ngModel)]="name">
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                                <button class="btn btn-danger btn-block btn-lg" data-bs-dismiss="modal"
                                    (click)="update(projectid,name)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>